@charset "UTF-8";

@font-face {
  font-family: "hoonz";
  src:url("fonts/hoonz.eot");
  src:url("fonts/hoonz.eot?#iefix") format("embedded-opentype"),
    url("fonts/hoonz.woff") format("woff"),
    url("fonts/hoonz.ttf") format("truetype"),
    url("fonts/hoonz.svg#hoonz") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "hoonz" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "hoonz" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\61";
}
.icon-angle-left:before {
  content: "\63";
}
.icon-angle-right:before {
  content: "\64";
}
.icon-instagrem:before {
  content: "\65";
}
.icon-mail:before {
  content: "\69";
}
.icon-angle-up:before {
  content: "\66";
}
.icon-youtube:before {
  content: "\62";
}
.icon-facebook:before {
  content: "\67";
}
.icon-heart:before {
  content: "\68";
}
.icon-cogs:before {
  content: "\6a";
}
.icon-user:before {
  content: "\6b";
}
.icon-sign-in:before {
  content: "\6c";
}
.icon-sign-out:before {
  content: "\6d";
}
.icon-bell:before {
  content: "\6e";
}
.icon-bullhorn:before {
  content: "\6f";
}
.icon-calendar:before {
  content: "\70";
}
.icon-comments:before {
  content: "\71";
}
.icon-comments-o:before {
  content: "\72";
}
.icon-heartbeat:before {
  content: "\73";
}
.icon-history:before {
  content: "\74";
}
.icon-paper-plane:before {
  content: "\76";
}
.icon-paper-plane-o:before {
  content: "\77";
}
.icon-shopping-cart:before {
  content: "\78";
}
.icon-search:before {
  content: "\79";
}
.icon-unlock-alt:before {
  content: "\7a";
}
.icon-twitter:before {
  content: "\41";
}
.icon-bag:before {
  content: "\75";
}
.icon-question:before {
  content: "\42";
}
.icon-trash:before {
  content: "\43";
}
.icon-trash-o:before {
  content: "\44";
}
.icon-ban:before {
  content: "\45";
}
.icon-angle-down:before {
  content: "\46";
}
.icon-bar-chart:before {
  content: "\47";
}
.icon-barcode:before {
  content: "\48";
}
.icon-credit-card:before {
  content: "\49";
}
.icon-chevron-left:before {
  content: "\4a";
}
.icon-chevron-right:before {
  content: "\4b";
}
.icon-envelope:before {
  content: "\4c";
}
.icon-envelope-o:before {
  content: "\4d";
}
.icon-gift:before {
  content: "\4e";
}
.icon-globe:before {
  content: "\4f";
}
.icon-info:before {
  content: "\50";
}
.icon-trophy:before {
  content: "\51";
}
.icon-thumbs-up:before {
  content: "\52";
}
.icon-ticket:before {
  content: "\53";
}
.icon-users:before {
  content: "\54";
}
.icon-tachometer:before {
  content: "\55";
}
.icon-tag:before {
  content: "\56";
}
.icon-tags:before {
  content: "\57";
}
.icon-star-o:before {
  content: "\58";
}
.icon-star:before {
  content: "\59";
}
.icon-refresh:before {
  content: "\5a";
}
.icon-paint-brush:before {
  content: "\30";
}
.icon-flask:before {
  content: "\31";
}
.icon-whatsapp:before {
  content: "\32";
}
.icon-pencil-square-o:before {
  content: "\33";
}
.icon-link-external:before {
  content: "\34";
}
.icon-cog:before {
  content: "\35";
}
.icon-clock-o:before {
  content: "\36";
}
.icon-bookmark:before {
  content: "\37";
}
.icon-plus-circle:before {
  content: "\38";
}
.icon-home:before {
  content: "\39";
}
.icon-facebook-official:before {
  content: "\21";
}
.icon-facebook-square:before {
  content: "\22";
}
